
.button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    background-color: $color-secondary;
    border: 1px solid transparent;
    border-radius: $border-radius;
    cursor: pointer;
    padding: 0em $padding;
    width: 100%;
    gap: $gap;
    color: $text-color-light;
    box-shadow: $box-shadow-button;

    &.white {
        background-color: $background-color;
        border: 1px solid $color-border;
        color: $text-color;

        &:hover {
            background-color: $background-color-secondary;
            border: 1px solid $color-border;
        }
    }

    &.search{
        background-color: transparent;
        border: 1px solid rgba($color: $color-border-tertiary, $alpha: 1);
        color: $text-color;

        p{ padding: 0px; }
    
        :hover {
            border: 1px solid rgba($color: $color-border-tertiary, $alpha: 0.25);;
            background-color: transparent;
        }
    }

    &:hover{
        opacity: 80%;
    }
}

.button-small {
    background-color: $color-primary;
    border: 1px solid transparent;
    border-radius: $border-radius;
    cursor: pointer;
    padding: 0em $padding;
    font-size: $font-medium;
    width: 100%;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
    min-height: 30px;
    border: 1px solid $color-border-secondary;
    box-shadow: $box-shadow-button;
    color: $text-color;

    &.opacity{
        opacity: 40%;
        
        &:hover {
            opacity: 40%;
        }
    }

    &.black {
        background-color: $color-secondary;
        color: $text-color-light;
    }

    &.blue {
        background-color: rgba($color: $color-tertiary, $alpha: 0.3);
        border: 1px solid rgba($color: $color-tertiary, $alpha: 0.5);
        color: $text-color;
    }

    &.white {
        background-color: $background-color;
        border: 1px solid $color-border-secondary;
    
        &:hover {
            background-color: $background-color-secondary;
            border: 1px solid $color-border;
        }
    }

    &.red {
        background-color: rgba($color: $color-red, $alpha: 0.3);
        border: 1px solid rgba($color: $color-red, $alpha: 0.5);
    }

    &.transparent {
        background-color: transparent;
        text-decoration: underline;
    }

    &:hover {
        opacity: 70%;
    }

    &.back{
        border: 1px solid transparent;
        background-color: $background-color;
        padding: 0px;
        box-shadow: none;
        color: $text-color;

        &:hover {
            border: 1px solid transparent;
            opacity: 100%;
            background-color: transparent;

            p{
                text-decoration: underline;
            }
        }
    }
}

.disabled{
    opacity: 50%;

    &:hover{
        opacity: 50%;
    }
}

// button animated
.mainbutton {
    position: relative;
    padding: 0em $padding;
    height: 40px;
    width: 100%;
    cursor: pointer;
    border-radius: $border-radius;
    border: 1px solid $color-tertiary;
    overflow: hidden;
    font-size: $font-medium;
}

.fillbutton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-blue;
}

.contentbutton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272727;
}