.input {
    height: 48px;
    width: 100%;

    position: relative;
    border-radius: $border-radius;
    border: 1px solid $color-border;
    background-color: $background-color;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    padding: $padding-horizontal;

    -webkit-box-shadow: 0px 10px 10px -15px rgba(101, 116, 130, 1);
    -moz-box-shadow: 0px 10px 10px -15px rgba(101, 116, 130, 1);
    box-shadow: 0px 10px 10px -15px rgba(101, 116, 130, 1);
    font-size: 16px;

    &::placeholder {
        color: $color-gray;
    }

    &:focus {
        outline: none;
        box-shadow: $color-tertiary 0px 1px 4px, $color-tertiary 0px 0px 0px 3px;
        background-color: $background-color;
    }

    &:valid {
        padding: 0em $padding-horizontal;
    }
}

.inputComponent {
    width: 100%;
    position: relative;
    font-size: 16px;

    input {
        height: 48px;
        width: 100%;

        position: relative;
        border-radius: $border-radius;
        border: 1px solid $color-border;
        background-color: $background-color;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .15s;
        padding: $padding-horizontal;
        box-shadow: $box-shadow-input;
        font-size: 16px;

        &::placeholder {
            color: $color-gray;
        }

        &:focus {
            outline: none;
            box-shadow: $color-tertiary 0px 1px 4px, $color-tertiary 0px 0px 0px 3px;
            background-color: $background-color;
        }

        &:valid {
            padding: 0em $padding-horizontal;
        }

    }

    .clearinput{
        width: 36px;
        height: 36px;
        background-color: $background-color-secondary;
        border: 1px solid $color-border;
        position: absolute;
        border-radius: $border-radius;
        right: 2%;
        top: 0%;
        transform: translateY(15%);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
        &:hover {
            background-color: $background-color;
        }
    }
}

.select {
    display: flex;
    background-color: $background-color;
    width: 100%;
    height: 48px;
    border: 1px solid $color-border;
    border-radius: $border-radius;
}

.toggleSwitch {
    display: flex;
    align-items: center;

    .toggle {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 22px;
        display: flex;

        .checkbox {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked+.slider {
                background-color: $color-green;
                opacity: 70%;
            }

            &:focus+.slider {
                box-shadow: 0 0 1px $color-green;
                opacity: 70%;
            }

            &:checked+.slider:before {
                transform: translateX(24px);
            }
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $color-gray;
            transition: 0.4s;
            border-radius: 34px;
            box-shadow: $box-shadow-button;

            &:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 4px;
                bottom: 3px;
                background-color: $background-color;
                transition: 0.4s;
                border-radius: 50%;
            }
        }
    }


    .label {
        font-weight: bold;
        font-size: 14px;
        width: 40%;
    }
}

.toggleSquareSwitch {
    display: flex;
    align-items: center;

    .toggleSquare {
        position: relative;
        display: inline-block;
        width: 70px;
        min-height: 30px;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.12) 1.5px 1.5px 1px;
        border-radius: $border-radius;

        .checkbox {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked+.sliderSquare:before {
                transform: translateX(36px);
            }
        }

        .sliderSquare {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $color-primary;
            transition: 0.4s;
            border-radius: 0.5em;
            border: 1px solid $color-border;

            &:before {
                position: absolute;
                content: "";
                height: 22px;
                width: 22px;
                left: 4px;
                top: 2px;
                background-color: $background-color;
                transition: 0.4s;
                border-radius: 0.5em;
                border: 1px solid $color-border;
            }

            .iconSquare {
                width: 10px;
                position: absolute;
                z-index: 9;
                left: calc(5px + (22px/2));
                bottom: calc(3px + (22px/2));
                transform: translate(-50%, 50%);
            }

            .iconSquareSecond {
                width: 10px;
                position: absolute;
                z-index: 9;
                left: calc((70px - 6px) - (22px/2));
                bottom: calc(3px + (22px/2));
                transform: translate(-50%, 50%);
            }
        }
    }


    .label {
        font-weight: bold;
        font-size: 14px;
        width: 40%;
    }
}

.iconClean {
    width: 24px;
    height: 24px;
    background-color: $background-color-secondary;
    border: 1px solid $color-border;
    position: absolute;
    border-radius: $border-radius;
    right: 2%;
    top: 0%;
    transform: translateY(25%);
    z-index: 9999;

    &:hover {
        opacity: 50%;
    }
}