@use "sass:math";
@use "../Abstracts/mixins";
@use "../Abstracts/variables";

.fc {

    .fc-view-harness {
        border: 1px solid variables.$color-border;
        border-radius: variables.$border-radius;
        overflow: hidden;
    }

    .fc-header-toolbar {
        display: flex;
        justify-content: space-between;
        /* Para alinear los elementos */
    }


    // Estilos de las horas (columna izquierda)
    .fc-timegrid-slot-label {
        color: variables.$text-color;
        font-size: variables.$font-medium;
        font-weight: bold;
        text-align: right;
    }

    // Renglones del grid
    .fc-timegrid-slot {
        border-top: 1px solid variables.$color-border;
        padding: variables.$padding calc(variables.$padding/2) !important;
    }

    // Fila de eventos
    .fc-timegrid-event {
        background-color: variables.$color-yellow;
        color: variables.$text-color-light;
        border-radius: variables.$border-radius;
        font-weight: 500;
        padding: variables.$padding;
        box-shadow: variables.$box-shadow-input;
        border: 1px solid variables.$color-border-secondary;
        //height: fit-content;
        min-height: 60px;
    }

    // Hover en eventos
    .fc-timegrid-event:hover {
        border: 1px solid variables.$color-border-tertiary;
    }


    .fc-event-title {
        color: variables.$text-color;
    }

}

/* Estilos personalizados para el header */
.custom-timeline .fc-header-toolbar .fc-toolbar-chunk {
    flex: 0; /* Los hijos por defecto no ocupan espacio */
}

.custom-timeline .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    flex: 1; /* El segundo hijo ocupa todo el espacio disponible */
    /* text-align: center; Opcional: centra el contenido */
}
