@use "sass:math";
@use "../Abstracts/mixins";
@use "../Abstracts/variables";

.input {
    height: 48px;
    width: 100%;
    font-family: "Inter";

    position: relative;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$color-border;
    background-color: variables.$background-color;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    padding: variables.$padding-horizontal;

    -webkit-box-shadow: 0px 10px 10px -15px rgba(101, 116, 130, 1);
    -moz-box-shadow: 0px 10px 10px -15px rgba(101, 116, 130, 1);
    box-shadow: 0px 10px 10px -15px rgba(101, 116, 130, 1);
    font-size: variables.$font-medium;

    @include mixins.respond(phone) {
        font-size: variables.$font-normal;
    }

    &.textbox {
        height: fit-content;

        &:valid {
            padding: variables.$padding;
        }
    }

    &::placeholder {
        color: variables.$color-gray;
    }

    &:focus {
        outline: none;
        box-shadow: variables.$color-tertiary 0px 1px 4px, variables.$color-tertiary 0px 0px 0px 3px;
        background-color: variables.$background-color;
    }

    &:valid {
        padding: 0em variables.$padding-horizontal;
    }
}

.inputComponent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    @include mixins.respond(phone) {
        font-size: variables.$font-normal;
    }

    label {
        font-size: variables.$font-medium;
        color: variables.$text-color;
        padding-bottom: calc(variables.$margin-vertical / 2);
    }

    input {
        height: 48px;
        width: 100%;

        position: relative;
        border-radius: variables.$border-radius;
        border: 1px solid variables.$color-border;
        background-color: variables.$background-color;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-duration: .15s;
        padding: variables.$padding-horizontal;
        box-shadow: variables.$box-shadow-input;
        font-size: variables.$font-medium;

        @include mixins.respond(phone) {
            font-size: variables.$font-normal;
        }
        &::placeholder {
            color: variables.$color-gray;
        }

        &:focus {
            outline: none;
            box-shadow: variables.$color-tertiary 0px 1px 4px, variables.$color-tertiary 0px 0px 0px 3px;
            background-color: variables.$background-color;
        }

        &:valid {
            padding: 0em variables.$padding-horizontal;
        }

    }

    .clearinput {
        width: 36px;
        height: 36px;
        background-color: variables.$background-color-secondary;
        border: 1px solid variables.$color-border;
        position: absolute;
        border-radius: variables.$border-radius;
        right: 2%;
        top: 0%;
        transform: translateY(15%);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: variables.$background-color;
        }
    }
}

.inputRangeDate {
    display: flex;
    gap: variables.$gap;
}

.input_search {
    height: 100%;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$color-border;
    padding: 0px variables.$padding-horizontal;
    box-shadow: variables.$box-shadow-button;

    &::placeholder {
        color: variables.$text-color-secondary;
    }

    &:focus {
        outline: none;
        box-shadow: variables.$color-tertiary 0px 1px 4px, variables.$color-tertiary 0px 0px 0px 3px;
        background-color: variables.$background-color;
    }

    &:valid {
        padding: 0em variables.$padding-horizontal;
    }
}

.input_uploader {
    .input_loader {
        background-color: variables.$background-color-secondary;
        border: 1px solid variables.$color-border;
        border-radius: variables.$border-radius;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: variables.$font-medium;
        flex-direction: column;
        box-shadow: variables.$box-shadow-input;

        &:hover {
            cursor: pointer;
            background-color: variables.$background-color-tertiary;
        }
    }

    .input_preview{
        position: relative;
        max-height: 200px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid variables.$color-border;
        border-radius: variables.$border-radius;
        background-color: variables.$background-color-secondary;

        .input_frame{
            
        }
        
        img{
            padding: calc(variables.$padding / 2);
            width: auto;
            object-fit: contain;
        }

        .input_loader_active{
            background-color: variables.$background-color;
            border: 1px solid variables.$color-border;
            padding: calc(variables.$padding/2);
            border-radius: variables.$border-radius;
            position: absolute;
            top: 3%;
            right: 1%;

            &:hover {
                cursor: pointer;
                background-color: variables.$background-color-tertiary;
            }
        }
    }
}

.select {
    display: flex;
    background-color: variables.$background-color;
    width: 100%;
    height: 48px;
    border: 1px solid variables.$color-border;
    border-radius: variables.$border-radius;

    font-size: variables.$font-medium;

    @include mixins.respond(phone) {
        font-size: variables.$font-normal;
    }
}

.toggleSwitch {
    display: flex;
    align-items: center;

    .toggle {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 22px;
        display: flex;

        .checkbox {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked+.slider {
                background-color: variables.$color-green;
                opacity: 70%;
            }

            &:focus+.slider {
                box-shadow: 0 0 1px variables.$color-green;
                opacity: 70%;
            }

            &:checked+.slider:before {
                transform: translateX(24px);
            }
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: variables.$color-gray;
            transition: 0.4s;
            border-radius: 34px;
            box-shadow: variables.$box-shadow-button;

            &:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 4px;
                bottom: 3px;
                background-color: variables.$background-color;
                transition: 0.4s;
                border-radius: 50%;
            }
        }
    }


    .label {
        font-weight: bold;
        font-size: 14px;
        width: 40%;
    }
}

.toggleSquareSwitch {
    display: flex;
    align-items: center;

    .toggleSquare {
        position: relative;
        display: inline-block;
        width: 70px;
        min-height: 30px;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.12) 1.5px 1.5px 1px;
        border-radius: variables.$border-radius;

        .checkbox {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked+.sliderSquare:before {
                transform: translateX(36px);
            }
        }

        .sliderSquare {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: variables.$color-primary;
            transition: 0.4s;
            border-radius: 0.5em;
            border: 1px solid variables.$color-border;

            &:before {
                position: absolute;
                content: "";
                height: 22px;
                width: 22px;
                left: 4px;
                top: 2px;
                background-color: variables.$background-color;
                transition: 0.4s;
                border-radius: 0.5em;
                border: 1px solid variables.$color-border;
            }

            .iconSquare {
                width: 10px;
                position: absolute;
                z-index: 9;
                left: calc(5px + (22px/2));
                bottom: calc(3px + (22px/2));
                transform: translate(-50%, 50%);
            }

            .iconSquareSecond {
                width: 10px;
                position: absolute;
                z-index: 9;
                left: calc((70px - 6px) - (22px/2));
                bottom: calc(3px + (22px/2));
                transform: translate(-50%, 50%);
            }
        }
    }


    .label {
        font-weight: bold;
        font-size: 14px;
        width: 40%;
    }
}

.iconClean {
    width: 24px;
    height: 24px;
    background-color: variables.$background-color-secondary;
    border: 1px solid variables.$color-border;
    position: absolute;
    border-radius: variables.$border-radius;
    right: 2%;
    top: 0%;
    transform: translateY(25%);
    z-index: 9999;

    &:hover {
        opacity: 50%;
    }
}

.label {
    display: flex;
    font-size: variables.$font-medium;
    color: variables.$text-color;
    padding-bottom: calc(variables.$margin-vertical / 2);
}