.fc {
    .fc-view-harness{
        border: 1px solid $color-border;
        border-radius: $border-radius;
        overflow: hidden;
    }

    .fc-header-toolbar{
        justify-content: start;
        padding: 0px;
        align-items: start;


        .fc-toolbar-title{
            font-size: $font-big;
            width: 100%;
            text-transform: lowercase;
        }
    }

    // Estilos de las horas (columna izquierda)
    .fc-timegrid-slot-label {
        color: $text-color;
        font-size: $font-medium;
        font-weight: bold;
        text-align: right;
    }

    // Renglones del grid
    .fc-timegrid-slot {
        border-top: 1px solid $color-border;
        padding: $padding $padding/2 !important;
    }

    // Fila de eventos
    .fc-timegrid-event {
        background-color: $color-yellow; // Fondo del evento
        color: $text-color-light;
        border-radius: $border-radius;
        font-weight: 500;
        padding: $padding;
        box-shadow: $box-shadow-input;
        border: 1px solid $color-border-secondary;
    }

    // Hover en eventos
    .fc-timegrid-event:hover {
        border: 1px solid $color-border-tertiary;
    }


    .fc-event-title{
        color: $text-color;
    }

}