@use "sass:math";
@use "../main.scss";
@use "../Abstracts/mixins";
@use "../Abstracts/variables";

.timelinePage {
    position: relative;

    &__content {
        display: flex;
        flex-direction: row;
        gap: calc(variables.$gap * 2);
        position: relative;
        width: 100%;

        .briefContent {
            width: 40%;

            @include mixins.respond(tab-port) {
                display: none;
            }
        }

        .timelineContent {
            width: 60%;
            z-index: 0;
            gap: calc(variables.$gap * 2);

            &__documents {
                margin-bottom: variables.$margin-vertical;
            }


            @include mixins.respond(tab-port) {
                width: 100%;
            }
        }
    }
}


.brief {
    width: 100%;
    position: sticky;
    top: 10px;
    height: fit-content;

    &__instruction {
        margin-bottom: variables.$margin-vertical;
        font-size: variables.$font-medium;
        color: variables.$text-color-secondary;
    }

    h4 {
        margin-bottom: variables.$margin-vertical;
    }
}