@use "sass:math";
@use "../main.scss";
@use "../Abstracts/mixins";
@use "../Abstracts/variables";

.event {
    position: relative;

    .content {
        display: flex;
        gap: calc(variables.$gap * 2);
        position: relative;

        .brief {
            width: 50%;
            position: sticky; // Corrige el prefijo
            top: 10px; // Define la distancia desde el borde superior
            height: fit-content;

            @include mixins.respond(tab-port) {
                display: none;
            }

            &__instruction {
                margin-bottom: variables.$margin-vertical;
                font-size: variables.$font-medium;
                color: variables.$text-color-secondary;
            }

            h4 {
                margin-bottom: variables.$margin-vertical;
            }
        }

        .timeline {
            width: 50%;
            z-index: 0;


            @include mixins.respond(tab-port) {
                width: 100%;
            }
        }
    }
}