@import "../main.scss";


.clientDetails {
    display: flex;
    flex-direction: row;
    gap: $gap;

    &__calendar{
        width: 60%;
        background-color: $background-color-tertiary;
        border-radius: $border-radius;
        border: 1px solid $color-border;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__brief{
        width: 40%;
    }
}