@import "../main.scss";


.clientDetails {
    display: flex;
    flex-direction: row;
    gap: $gap;

    &__calendar{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__brief{
        width: 40%;
    }
}