@use "sass:math";
@use "../main.scss";
@use "../Abstracts/mixins";
@use "../Abstracts/variables";

.NotFound{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80svh;
    
    .title{
        font-size: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        color: variables.$background-color-secondary;

        @include mixins.respond(phone) {
            font-size: 150px;
            padding: 2em;
        }
    
    }

    .message{
        z-index: 99;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;

        @include mixins.respond(phone) {
            font-size: variables.$font-normal;
            padding: 2em;
        }

        button{
            margin-top: 10px;
        }
    }
}
