@import "../main.scss";

.SellsClient {
    display: flex;
    flex-direction: column;

    
    .content {
        display: flex;
        gap: $gap;
        width: 100%;

        @include respond(tab-port) {
            flex-direction: column-reverse;
        }

        .table {
            width: 75%;

            @include respond(tab-port) {
                width: 100%;
            }
        }

        .brief {
            width: 25%;

            @include respond(tab-port) {
                width: 100%;
            }
        }
    }
}

.SellActions{

    .send_message{

        .send_header{
            font-size: $font-medium;
            margin-bottom: $margin-vertical;
        }

        .send_input{
            display: flex;
            flex-direction: column;
            margin-bottom: $margin-vertical;
            gap: $gap;
        }

        .message_decision{
            display: flex;
            gap: $gap;
        }
    }
}