
@use "sass:math";
@use "../main.scss";
@use "../Abstracts/mixins";
@use "../Abstracts/variables";

.sellDetails {

    .sellItem {
        display: flex;
        align-items: center;
        gap: calc(variables.$gap/2);

        .value {
            max-width: 400px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @include mixins.respond(phone) {
                max-width: 150px;
            }
        }

        .edit {
            padding: calc(variables.$padding/3);
            border-radius: calc(variables.$border-radius/2);
            cursor: pointer;
            border: 1px solid transparent;
            height: auto;

            &:hover {
                background-color: variables.$background-color-secondary;
                border: 1px solid variables.$color-border;
            }
        }
    }
}