@use "sass:math";
@use "../main.scss";
@use "../Abstracts/mixins";
@use "../Abstracts/variables";

.ProductCard {
    width: 100%;
    padding: variables.$padding;
    margin-bottom: variables.$margin-vertical;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$color-border;
    position: relative;
    font-size: variables.$font-medium;
    box-shadow: variables.$box-shadow-button;


    .productHeader {

        .productName {
            font-weight: bold;
            width: 50%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            margin-bottom: calc(variables.$margin-vertical / 2);
        }

        .delete {
            background-color: variables.$background-color-tertiary;
            border: 1px solid variables.$color-border-secondary;
            border-radius: variables.$border-radius;
            width: 26px;
            height: 26px;
            position: absolute;
            top: 0px;
            right: 0px;
            transform: translate(35%, -35%);
            opacity: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                opacity: 100%;
                border: 1px solid variables.$color-border-tertiary;
            }
        }
    }

    .productInfo {
        display: flex;

        @include mixins.respond(phone) {
            flex-direction: column;
        }

        .data {
            display: flex;
            flex-direction: column;
            width: 60%;

            @include mixins.respond(phone) {
                width: 80%;
                margin-bottom: variables.$margin-vertical*2;
            }

            .price {
                font-weight: bold;
            }
        }

        .counter {
            width: 40%;

            @include mixins.respond(phone) {
                width: 100%;
                :first-child{
                    display: flex;
                }
            }
        }
    }
}

.ProductSquareCard {
    min-width: 180px;
    font-size: variables.$font-medium;

    .content {

        .image {
            background-color: variables.$background-color-tertiary;
            height: 240px;
            margin-bottom: variables.$margin-vertical*2;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: variables.$border-radius;

            .notImage {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 80%;

                h2 {
                    display: flex;
                    text-align: center;
                }
            }

            img {
                height: auto;
                width: auto;
                max-height: 180px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                border-radius: variables.$border-radius;
            }

            &:hover {
                background-color: variables.$background-color-secondary;
                transition: 0.2s ease-in-out;
            }
        }

        .info {
            display: flex;
            flex-direction: column;

            .description {
                display: flex;
                justify-content: space-between;
                margin-bottom: calc(variables.$margin-horizontal / 2);
                gap: variables.$gap;

                h4 {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: variables.$font-normal;
                    max-height: variables.$font-normal*2;
                    min-height: variables.$font-normal*2;
                    line-height: variables.$font-normal;
                }
            }

            .data {
                margin-bottom: calc(variables.$margin-horizontal / 2);
                font-size: variables.$font-medium;

                .stock {
                    display: flex;
                    gap: variables.$gap;
                }
            }

            .counter {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: variables.$text-color-secondary;
                font-size: variables.$font-normal;

                .price {
                    width: 50%;
                }
            }
        }

    }
}

.MessageCard {
    width: 100%;
    padding: variables.$padding * 4;
    background-color: variables.$background-color;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$color-border;

    @include mixins.respond(phone) {
        padding: 4em 3em;
    }

    .icon {
        background-color: variables.$background-color-secondary;
        width: 40px;
        height: 40px;
        border: 1px solid variables.$color-border;
        border-radius: variables.$border-radius;
        margin-bottom: variables.$margin-horizontal;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paragraph {
        font-size: variables.$font-medium;
    }

    h2 {
        margin-bottom: calc(variables.$margin-vertical / 2);
    }
}

.ErrorCard {
    width: 100%;
    padding: variables.$padding * 4;
    background-color: variables.$background-color;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$color-border;

    @include mixins.respond(phone) {
        padding: 4em 3em;
    }

    .icon {
        background-color: variables.$background-color-secondary;
        width: 40px;
        height: 40px;
        border: 1px solid variables.$color-border;
        border-radius: variables.$border-radius;
        margin-bottom: variables.$margin-horizontal;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paragraph {
        font-size: variables.$font-medium;
        margin-bottom: variables.$margin-horizontal;
    }

    h2 {
        margin-bottom: calc(variables.$margin-vertical / 2);
    }
}

.MessageSecondaryCard{
    background-color: variables.$background-color-secondary;
    padding: calc(variables.$padding*1.5) variables.$padding;
    border: 1px solid variables.$color-border;
    box-shadow: variables.$box-shadow-button;
    border-radius: variables.$border-radius;
    font-size: variables.$font-medium;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left{
        display: flex;
        gap: variables.$gap;
    }
}

.ActionCard {
    display: flex;
    justify-content: space-between;
    padding: variables.$padding;
    background-color: variables.$background-color-secondary;
    margin-bottom: variables.$margin-vertical;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$color-border;
    align-items: center;

    &.red {
        border: 1px solid variables.$color-red;
    }

    .message {
        &__title {
            font-weight: bold;
        }
    }

}

.BriefCard {
    display: flex;
    flex-direction: column;
    background-color: variables.$color-cuaternary;
    padding: variables.$padding;
    border-radius: variables.$border-radius;
    font-size: variables.$font-medium;
    border: 1px solid variables.$color-border;
    box-shadow: variables.$box-shadow-button;

    .data{
        label{
            color: variables.$text-color-secondary;
        }

        &:last-of-type .dividerLocal{
            display: none;
        }
    }
}