@use "sass:math";
@use "../main.scss";
@use "../Abstracts/mixins";
@use "../Abstracts/variables";


.ChartWidget {
    border: 1px solid variables.$color-border;
    border-radius: variables.$border-radius;
    padding: calc(variables.$padding * 2);
    height: 100%;
    box-shadow: variables.$box-shadow-button;
    flex: 1;


    &:hover{
        cursor: pointer;
        background-color: variables.$background-color-tertiary;
    }


    .ChartData{
        font-size: variables.$font-medium;

        &__value {
            color: variables.$text-color;
            font-size: variables.$font-big;
            font-weight: bold;
        }
    }

    .graph{
        display: flex;
    }
}