@import "../main.scss";


.tableSkeleton {
    background-color: $background-color;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1em;

    @include respond(phone) {
        .header {
            display: none;
        }
    }
}

.tablesRequestSkeleton {
    width: 100%;

    .titles {
        margin-bottom: 1em;

        h2 {
            background-color: $color-border;
            animation: loading 1s infinite;
            height: 14px;
            width: 20%;
            margin-bottom: 0.25em;
        }

        p {
            background-color: $color-border;
            animation: loading 1s infinite;
            height: 14px;
            width: 40%;
        }
    }

    .content {
        width: 100%;
        font-size: 12px;
        border: 1px solid $color-border;
        background-color: $background-color;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
        border-radius: 1em;

        .requestCart {
            border-bottom: 1px solid $color-border;
            padding: 1em 2em;
            height: 90px;

            &:hover {
                background-color: $color-secondary;
            }

            .info {
                width: 50%;

                .header {
                    background-color: $color-border;
                    animation: loading 1s infinite;
                    height: 14px;
                    width: 60%;
                    margin-bottom: 0.5em;
                    border-radius: 3px;
                }

                .data {

                    .total {
                        background-color: $color-border;
                        animation: loading 1s infinite;
                        height: 14px;
                        width: 20%;
                        border-radius: 3px;

                    }

                    .tags {
                        gap: 1em;

                        .status {
                            background-color: $color-border;
                            animation: loading 1s infinite;
                            height: 14px;
                            width: 20%;
                            border-radius: 3px;

                        }
                    }
                }
            }

            .actions {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .contentActions {
                    width: 30%;
                    gap: 0.25em;
                    display: flex;
                    justify-content: flex-end;

                    .action {
                        background-color: $color-border;
                        animation: loading 1s infinite;
                        height: 30px;
                        width: 30px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }


}

.gridSkeleton {
    width: 100%;
    height: 100%;

    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: $background-color;
        gap: $gap*3;

        @include respond(phone) {
            grid-template-columns: repeat(1, 1fr);

        }
    }
}

.productSkeleton {
    width: 100%;
    height: 20px;
    background-color: $color-border;
    animation: loading 1s infinite;
    border-radius: 3px;
    margin-bottom: 10px;

    @include respond(phone) {
        background-color: transparent;
        animation: none;
        height: 100%;

        .top {
            margin-bottom: 0.5em;

            .title {
                width: 100%;
                height: 20px;
                background-color: $color-border;
                margin-bottom: 0.5em;
                border-radius: 3px;
            }

            .code {
                width: 80%;
                height: 14px;
                background-color: $color-border;
                margin-bottom: 0.5em;
                border-radius: 3px;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;

            .price {
                width: 30%;
                height: 16px;
                background-color: $color-border;
                margin-bottom: 0.5em;
                border-radius: 3px;
            }

            .counter {
                width: 30%;
                height: 20px;
                background-color: $color-border;
                margin-bottom: 0.5em;
                border-radius: 3px;
            }
        }
    }
}

.productWithImageSkeleton {
    .image {
        background-color: $color-border;
        animation: loading 1s infinite;
        border-radius: 3px;
        min-width: 180px;
        height: 240px;
        position: relative;
        margin-bottom: 1em;
    }

    .info {
        display: flex;
        flex-direction: column;

        .description {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5em;
            height: 22px;
            width: 100%;
            gap: 0.5em;

            .first {
                height: 22px;
                width: 70%;
                margin-bottom: 0.5em;
                background-color: $color-border;
                animation: loading 1s infinite;
                border-radius: 3px;
            }

            .second {
                height: 22px;
                width: 25%;
                background-color: $color-border;
                animation: loading 1s infinite;
                border-radius: 3px;
                margin-bottom: 1em;
            }
        }

        .first {
            height: 12px;
            width: 60%;
            margin-bottom: 0.5em;
            background-color: $color-border;
            animation: loading 1s infinite;
            border-radius: 3px;
        }

        .second {
            height: 12px;
            width: 50%;
            background-color: $color-border;
            animation: loading 1s infinite;
            border-radius: 3px;
            margin-bottom: 1em;
        }

        .counter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;

            .price {
                height: 16px;
                width: 50%;
                background-color: $color-border;
                animation: loading 1s infinite;
                border-radius: 3px;
            }

            .counterNumber {
                height: 16px;
                width: 50%;
                background-color: $color-border;
                animation: loading 1s infinite;
                border-radius: 3px;
            }
        }
    }
}

.homeFiltersSkeleton {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .left {
        width: 100px;
        height: 28px;
        border-radius: 3px;
        margin-bottom: 0.75em;
        background-color: rgba($color: $color-border, $alpha: 0.3);
        animation: loading 1s infinite;

        @include respond(phone) {
            background-color: rgba($color: $color-border, $alpha: 1);
        }
    }

    .right {
        width: 100px;
        height: 28px;
        border-radius: 3px;
        margin-bottom: 0.75em;
        background-color: rgba($color: $color-border, $alpha: 0.3);

        animation: loading 1s infinite;

        @include respond(phone) {
            background-color: rgba($color: $color-border, $alpha: 1);
        }
    }

}

.ProductDetailsRenderSkeleton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5em;
    gap: 2em;

    @include respond(phone) {
        flex-direction: column;
    }

    .imageGallery {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        height: 400px;
        width: 100%;

        .primary {
            background-color: rgba($color: $color-border, $alpha: 0.3);
            animation: loading 1s infinite;
            height: 75%;
            margin-bottom: 10px;
        }

        .gallery {
            display: flex;
            justify-content: center;

            .photo {
                background-color: rgba($color: $color-border, $alpha: 0.3);
                animation: loading 1s infinite;
                height: 60px;
                width: 60px;
                border-radius: 5px;
            }

            :not(:last-child) {
                margin-right: 1em;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        >span {
            background-color: rgba($color: $color-border, $alpha: 0.3);
            animation: loading 1s infinite;
            border-radius: 5px;
        }

        .header {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            >span {
                background-color: rgba($color: $color-border, $alpha: 0.3);
                animation: loading 1s infinite;
                border-radius: 5px;
            }

            .title {
                height: 60px;
                width: 90%;
                margin-bottom: 5px;
            }

            .price {
                height: 14px;
                margin-bottom: 5px;
                width: 20%;
            }
        }

        .observations {
            height: 100px;
            margin-bottom: 30px;
        }

        .details {
            height: 140px;
            margin-bottom: 30px;
        }

        .counter {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            height: 36px;

            >span {
                background-color: rgba($color: $color-border, $alpha: 0.3);
                animation: loading 1s infinite;
                border-radius: 5px;
            }

            .number {
                height: 100%;
                width: 50%;
            }
        }
    }
}

.ReceiptRenderSkeleton {

    .item {
        background-color: $color-border;
        animation: loading 1s infinite;
    }

    .brief {
        padding: 0em;

        h4 {
            height: 24px;
            width: 100px;
            margin-bottom: 10px;
            background-color: $color-border;
            animation: loading 1s infinite;
        }

        .details {
            border-radius: 1em;
            padding: 2em 1em;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            gap: 10px;
            display: flex;
            justify-content: space-between;

            .date {
                width: 100%;
                display: flex;

                >div {
                    height: 14px;
                    margin-bottom: 10px;
                    width: 50%;


                    @include respond(phone) {
                        height: 20px;
                        width: 100%;
                    }
                }

                :first-child {
                    width: 60%;

                    @include respond(phone) {
                        width: 100%;
                    }
                }
            }

            .price {
                width: 100%;
                display: flex;
                align-items: flex-end;

                >div {
                    height: 14px;
                    margin-bottom: 10px;
                    width: 50%;

                    @include respond(phone) {
                        height: 20px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .productsDetails {
        padding: 2em 0em;
        height: auto;

        >div {
            margin-bottom: 15px;

            &:nth-child(odd) {
                background-color: $background-color-secondary;
            }
        }

        .item {
            background-color: $color-border;
            animation: loading 1s infinite;
        }

        .productCard {
            border: 1px solid transparent;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
                rgba(74, 86, 98, 0.15) 0px 0px 0px 1px;
            margin-bottom: 15px;

            .content {
                display: flex;
                flex-direction: row;
                padding: 1em;

                @include respond(phone) {
                    display: flex;
                    flex-direction: column;
                }

                .productDescription {
                    width: 100%;
                    margin-right: 1em;

                    .divider {
                        display: none;
                    }

                    >div {
                        height: 10px;
                        margin-bottom: 10px;
                        width: 60%;
                    }

                    @include respond(phone) {
                        display: flex;
                        flex-direction: column;

                        .divider {
                            display: flex;
                            height: 1px;
                            width: 100%;
                            margin: 20px 0px;
                        }

                        :first-child {
                            height: 16px;
                            width: 100%;
                        }
                    }
                }

                .productData {
                    width: 100%;

                    .divider {
                        display: none;
                    }

                    >div {
                        height: 10px;
                        margin-bottom: 10px;
                        width: 60%;
                    }

                    .existent {
                        margin-right: 0.5em;
                    }

                    @include respond(phone) {
                        .divider {
                            display: flex;
                            height: 1px;
                            width: 100%;
                            margin: 20px 0px;
                        }
                    }
                }

                .productCounter {
                    width: 100%;

                    >div {
                        height: 10px;
                        margin-bottom: 10px;
                        width: 60%;
                    }
                }
            }

            &:first-child {
                border-radius: 1em 1em 0em 0em;
            }

            &:last-child {
                border-radius: 0em 0em 1em 1em;
            }
        }
    }
}

//news
.ProductSquareCardSkeleton {
    .ProductSquareCardSkeleton__content {
        display: flex;
        flex-direction: column;

        .image {
            background-color: $color-border;
            animation: loading 1s infinite;
            border-radius: 3px;
            min-width: 180px;
            height: 240px;
            position: relative;
            margin-bottom: 1em;
        }

        .info {
            display: flex;
            flex-direction: column;

            .description {
                display: flex;
                justify-content: space-between;
                margin-bottom: $margin-horizontal / 2;
                gap: $gap;

                h4 {
                    width: 50%;
                    height: $font-normal*2;
                }

                span {
                    height: calc($font-medium + $padding/2);
                    width: 30%;
                }
            }

            .data {
                display: flex;
                flex-direction: column;
                margin-bottom: $margin-horizontal / 2;
                font-size: $font-medium;
                gap: $gap;

                p {
                    width: 60%;
                }
            }

            .counter {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: $gap;

                p {
                    height: $font-normal*1.5;
                }

                span {
                    width: 50%;
                    height: $font-normal*2;
                }
            }
        }
    }
}

.ProductCardSkeleton {
    width: 100%;
    padding: $padding;
    margin-bottom: $margin-vertical;
    border-radius: $border-radius;
    border: 1px solid $color-border;
    position: relative;
    font-size: $font-medium;

    .productHeader {

        .productName {
            font-weight: bold;
            width: 50%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            margin-bottom: $margin-vertical / 2;
        }

        .delete {
            background-color: $background-color-tertiary;
            border: 1px solid $color-border-secondary;
            border-radius: $border-radius;
            width: 26px;
            height: 26px;
            position: absolute;
            top: 0px;
            right: 0px;
            transform: translate(35%, -35%);
            opacity: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                opacity: 100%;
                border: 1px solid $color-border-tertiary;
            }
        }
    }

    .productInfo {
        display: flex;
        gap: $gap*2;
        justify-content: space-between;

        @include respond(phone) {
            flex-direction: column;
            gap: 0px;

            .counter {
                width: 100%;
            }
        }

        .data {
            display: flex;
            flex-direction: column;
            width: 50%;

            >p {
                margin-bottom: $margin-vertical;
            }

            :nth-child(2) {
                width: 80%;
            }

            :nth-child(3) {
                width: 90%;
            }
        }

        .counter {
            width: 40%;

            p {
                height: $font-medium*2;
            }

            @include respond(phone) {
                width: 100%;
            }
        }
    }
}

.TableSkeleton {
    width: 100%;
    font-size: $font-medium;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid $color-border;
        border-bottom: 0px;
        margin-bottom: $margin-horizontal;
        border-radius: $border-radius;

        -webkit-box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);
        -moz-box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);
        box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);

        thead {
            background-color: $background-color;
            border-radius: $border-radius;

            th {
                padding: $padding;
                text-align: left;
                font-size: $font-small;
                color: $text-color-secondary;
                border-bottom: 1px solid $color-border;
                font-weight: lighter;
                height: $font-medium;

                &:first-child {
                    border-radius: $border-radius 0px;
                    overflow: hidden;
                }

                &:last-child {
                    border-radius: 0px $border-radius;
                    overflow: hidden;
                }
            }
        }

        tbody {

            tr {
                border-radius: $border-radius;

                &:nth-child(even) {
                    background-color: $background-color;
                }

                &:hover {
                    background-color: $background-color-secondary;
                }


                td {
                    padding: $padding / 2 $padding;
                    border-bottom: 1px solid $color-border;
                    height: $font-medium;

                    @include respond(phone) {
                        padding: $padding;
                    }

                }
            }
        }
    }

    .laodMore {
        width: 30%;

        @include respond(phone) {
            width: 100%;
        }
    }

    .message {
        padding: $padding 0em;
        text-align: center;
        color: $color-gray;
        font-size: $font-medium;
    }

    // Responsive adjustments for smaller screens
    @include respond(phone) {

        table {
            thead {
                display: none;
            }

            tbody {
                tr {
                    display: block;
                    margin-bottom: $margin-horizontal;
                    border-bottom: 1px solid $color-border;
                    padding: $padding;

                    :nth-child(1) {
                        p{
                            width: 60%;
                        }

                        &:before{
                            width: 30%;
                        }
                    }

                    :nth-child(2) {
                        p{
                            width: 50%;
                        }

                        &:before{
                            width: 40%;
                        }
                    }

                    :last-child{
                        p{
                            width: 50%;
                            height: $font-normal*2;
                        }

                        &:before{
                            width: 50%;
                            height: $font-normal*1.5;
                        }
                    }

                    td {
                        display: flex;
                        justify-content: space-between;
                        border: none;
                        min-width: 100%;
                        padding: 0px;
                        padding-bottom: $padding;
                        align-items: center;
                        
                        margin-bottom: $padding*1.5;
                        gap: $gap;
                        width: 100%;

                        p{
                            width: 60%;
                        }

                        &:before {
                            content: attr(data-label);
                            color: $color-gray;
                            text-align: left;
                            height: $font-normal;
                            width: 40%;
                            animation: loading 1s infinite;
                            background-color: $color-border;
                        }
                    }
                }
            }
        }
    }
}

.TableSecondarySkeleton {
    width: 100%;
    font-size: $font-medium;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid $color-border;
        border-bottom: 0px;
        margin-bottom: $margin-horizontal;
        border-radius: $border-radius;

        -webkit-box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);
        -moz-box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);
        box-shadow: 10px 10px 15px -5px rgba(6,12,25,0.05);

        tbody {

            tr {
                border-radius: $border-radius;

                &:nth-child(even) {
                    background-color: $background-color;
                }

                &:hover {
                    background-color: $background-color-secondary;
                }

                td {
                    padding: $padding / 2 $padding;
                    border-bottom: 1px solid $color-border;
                    height: $font-medium;

                    &.mobile{
                        display: none;
                    }

                    p{
                        margin-bottom: $margin-vertical;
                    }

                    @include respond(phone) {
                        padding: $padding;
                    }

                }
            }
        }
    }

    @include respond(phone) {

        table {
            thead {
                display: none;
            }

            tbody {
                tr {
                    display: block;
                    border-bottom: 1px solid $color-border;
                    padding: $padding;
                    font-size: $font-small;

                    td {
                        display: flex;
                        justify-content: space-between;
                        border: none;
                        min-width: 100%;
                        padding: 0px;
                        padding-bottom: $padding;
                        align-items: center;
                    
                        gap: $gap;
                        width: 100%;

                        &.mobile{
                            display: flex;
                        }

                        &.web{
                            display: none;
                        }

                        &:not(:last-child){
                            margin-bottom: $padding*1.5;
                        }

                        p{
                            margin-bottom: 0px;
                        }

                        &:before {
                            content: attr(data-label);
                            color: $color-gray;
                            text-align: left;
                            height: $font-normal;
                            width: 40%;
                            animation: loading 1s infinite;
                            background-color: $color-border;
                        }
                    }
                }
            }
        }
    }
}

@keyframes loading {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}