@use "sass:math";
@use "../Abstracts/mixins";
@use "../Abstracts/variables";

.sidebar {
    margin: 0px;
    padding: variables.$padding;
    height: 100vh;
    position: sticky;
    top: 0px;
    width: 10%;
    min-width: fit-content;
    font-size: variables.$font-medium;
    color: variables.$text-color-light;

    &.active {
        display: block;
    }

    @include mixins.respond(tab-port) {
        min-width: auto;
        width: fit-content;
    }

    @include mixins.respond(phone) {
        display: none;
        z-index: 99999;
        min-width: 80vw;
        position: fixed;
        left: 0px;
        width: 60%;
    }

    .logoOlei {
        bottom: 0px;
        left: 0px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: variables.$margin-vertical*2;
        margin-top: variables.$margin-vertical;
        height: 50px;

        @include mixins.respond(tab-port) {
            display: none;
        }

        @include mixins.respond(phone) {
            display: block;
        }

        svg {
            height: 100%;
            width: auto;
        }

    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 26px - variables.$margin-vertical*2);

        ul {
            padding: 0px;
            text-decoration: none;
            list-style: none;

            >a {
                background-color: variables.$color-secondary;
                padding: calc(variables.$padding/3) variables.$padding;
                border-radius: variables.$border-radius;
                margin-bottom: calc(variables.$margin-vertical / 3);
                cursor: pointer;
                border: 1px solid transparent;

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: variables.$gap;
                font-size: variables.$font-normal;

                .icon{
                    color: variables.$text-color-light;
                }

                @include mixins.respond(tab-port) {
                    width: fit-content;

                    p {
                        display: none;
                    }
                }

                @include mixins.respond(phone) {
                    width: 100vw;

                    p {
                        display: block;
                    }
                }

                &:hover {
                    background-color: variables.$background-color-secondary;
                    border: 1px solid variables.$color-border;
                    color: variables.$text-color;

                    .icon{
                        color: variables.$text-color;
                    }
                }

                &.active {
                    background-color: variables.$background-color;
                    color: variables.$text-color;
                    border: 1px solid variables.$color-border;
                    font-weight: bold;

                    .icon{
                        color: variables.$text-color;
                    }
    
                }
            }
        }
    }
}