@keyframes appear-Right-to-Left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes appear-Left-to-Right {
    0% {
        width: 30%;
    }

    100% {
        width: 50%;
    }
}

@keyframes disappear-Left-to-Right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}


@keyframes modal-open {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes modal-close {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}

@keyframes modal-open-mobile {

    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modal-close-mobile {
    0% {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(0%, 0%) scale(0.8);
    }
}

@keyframes loadingSkeleton {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

// Modal Background
@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

;

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

;