.display-flex {
    display: flex;

    &.allCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.justify {
        display: flex;
        justify-content: center;
    }

    &.align {
        display: flex;
        align-items: center;
    }

    &.space-between {
        display: flex;
        justify-content: space-between;
    }

    &.column {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }
}

.icon {
    width: 16px;
    height: 16px;

    &__small {
        width: 12px;
        height: 12px;
        min-width: 12px;
        min-height: 12px;
    }

    &__medium {
        width: 20px;
        height: 20px;
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: $color-border;
    margin: $margin-vertical*4 0em;

    &.small{
        margin: $margin-vertical*2 0em;
    }
}

.skeleton {
    background-color: $color-border;
    animation: loadingSkeleton 1s infinite;
    height: $font-normal;
    border-radius: $border-radius /3;
}

.backgroundModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    animation: appear 0.6s ease-in-out;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 999;

    &.closing {
        animation: fadeOut 0.3s ease-in-out forwards;
    }
}

.warning-message {
    color: $color-red;
    padding: 0px;
    margin-bottom: 1em;
}