$color-primary: #FFFFFF;
$color-secondary: #0e1727;
$color-tertiary: #1C3873;
$color-cuaternary: #FAFAFA;

$color-red: #ff0000;
$color-blue: #068FFF;
$color-green: #1F8A70;
$color-gray: #ccc;
$color-yellow: #EDBD42;

$color-border: #dfdfdf;
$color-border-secondary: #f1f1f1;
$color-border-tertiary: #0e1727;

$text-color: #1D2A36;
$text-color-secondary: #697480;
$text-color-light: #F9FAFA;

$background-color: #FFFFFF;
$background-color-secondary: #FAFAFA;
$background-color-tertiary: #f1f1f1;

$box-shadow-button: rgba(0, 0, 0, 0.12) 1.5px 1.5px 1px;
$box-shadow-modal:  rgba(0, 0, 0, 0.1) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
$box-shadow-input:  0px 10px 10px -15px rgba(101, 116, 130, 1);

/* $box-shadow-modal: rgba(0, 0, 0, 0.05) 0px 3px 12px;*/

//Padding
$padding: 1em;
$padding-horizontal: 1em;
$padding-bottom: 1em;
$padding-top: 1em;

// Margin
$margin: 1em;
$margin-horizontal: 1em;
$margin-vertical: 1em / 2;

//UI
$border-radius: 0.5em;
$gap: 10px;

//Font-size
$font-big: 60px;
$font-normal: 16px;
$font-medium: 14px;
$font-small: 12px;
