@use "sass:math";

@use "main.scss";
@use "Abstracts/mixins";
@use "Abstracts/variables";

.actions {
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;

    .buttons {
        display: flex;
        gap: variables.$gap;
        height: fit-content;

        @include mixins.respond(phone) {
            display: none;
        }
    }

    .hamburguer {
        display: none;
        background-color: variables.$background-color-secondary;
        padding: variables.$padding*0.5;
        border-radius: variables.$border-radius;
        border: 1px solid variables.$color-border;
        cursor: pointer;

        @include mixins.respond(phone) {
            display: block;
        }

        &:hover {
            background-color: variables.$background-color-tertiary;
            border: 1px solid variables.$color-border;
        }
    }

    .modalActions {
        position: absolute;
        top: 120%;
        right: 0%;
        background-color: variables.$background-color;
        border: 1px solid variables.$color-border-secondary;
        border-radius: variables.$border-radius;
        padding: math.div(variables.$padding, 3);
        box-shadow: variables.$box-shadow-modal;
        z-index: 9999;
        width: calc(100vw - variables.$padding*4);
        display: none;


        @include mixins.respond(phone) {
            display: block;
        }


        .actionsList {

            .actionItem {
                cursor: pointer;
                padding: math.div(variables.$padding, 3);
                border-radius: variables.$border-radius;
                font-size: variables.$font-medium;
                display: flex;
                gap: math.div(variables.$gap, 1.5);
                align-items: center;
                position: relative;

                &:not(:last-child) {
                    margin-bottom: variables.$margin-vertical*0.5;
                }

                p {
                    height: auto;
                }

                &__icon {
                    height: variables.$font-small;
                    color: variables.$color-tertiary;
                }

                &:hover {
                    background-color: variables.$background-color-tertiary;
                }
            }
        }

    }

}