@import "./main.scss";

:root {
  --background: $background-color;
  --foreground: $background-color;;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $text-color;
  background: $background-color;
  font-family: "Inter", "Poppins", "VictorMono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.none{
  display: none;
}


.modalBackground {
  width: 100%;
  height: 100svh;
  position: fixed;
  top: 0px;
  left: 0px;
  animation: appear 0.6s ease-in-out;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 0;

  &.closing {
      animation: fadeOut 0.3s ease-in-out forwards;
  }
}



@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "VictorMono";
  src: url("/fonts/VictorMono-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "VictorMono";
  src: url("/fonts/VictorMono-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
