@use "sass:math";
@use "main.scss";
@use "Abstracts/mixins";
@use "Abstracts/variables";

.Modal {
    background-color: variables.$background-color-secondary;
    width: 75%;
    max-width: 1200px;
    position: fixed;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$color-border;
    box-shadow: variables.$box-shadow-modal;
    z-index: 999;
    left: 50%;
    top: 50%;
    max-height: 80%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    animation: modal-open 0.2s ease-in-out forwards;

    &.closing {
        animation: modal-close 0.2s ease-in-out forwards;
    }

    @include mixins.respond(tab-port) {
        width: 90%;
    }

    @include mixins.respond(phone) {
        width: 100%;
        transform: translate(0, 0) scale(0.8);
        left: 0px;
        bottom: 0px;
        top: 0px;
        animation: modal-open-mobile 0.2s ease-in-out forwards;
        border-radius: variables.$border-radius variables.$border-radius 0 0;
        max-height: 100%;

        &.closing {
            animation: modal-close-mobile 0.2s ease-in-out forwards;
        }
    }

    .header {
        background-color: variables.$background-color;
        padding: variables.$padding;
        border-bottom: 1px solid variables.$color-border;
        position: relative;
        width: 100%;
        z-index: 1;
        max-height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: variables.$border-radius;

        @include mixins.respond(phone) {
            margin-bottom: variables.$margin-vertical;
        }

        .left {
            display: flex;
            flex-direction: column;
            gap: variables.$gap;

            .topactions {
                display: flex;
                flex-direction: row;
                gap: variables.$gap;
            }

            h3 {
                margin-right: variables.$margin-horizontal;
                font-size: variables.$font-normal;
            }
        }

        .close {
            width: fit-content;
            padding: calc(variables.$padding / 2);
            border-radius: variables.$border-radius;
            height: fit-content;
            cursor: pointer;
            border: 1px solid transparent;

            display: flex;
            justify-content: center;

            &:hover {
                background-color: variables.$background-color-secondary;
                border: 1px solid variables.$color-border;
            }
        }
    }

    .content {
        padding: variables.$padding;
        height: 100%;

        /* Ocultar el scrollbar */
        /* Firefox */
        scrollbar-width: none;
        /* IE y Edge */
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            /* Chrome, Safari y Opera */
            display: none;
        }

        @include mixins.respond(phone) {
            padding: 0px variables.$padding;
        }
    }

    .footer {
        padding: variables.$padding;
        border-top: 1px solid variables.$color-border;
        display: flex;
        justify-content: space-between;
        height: 10%;
        position: sticky;
        width: 100%;
        bottom: 0px;
        background-color: variables.$background-color-secondary;
    }

    &.small {
        width: 30%;

        @include mixins.respond(phone) {
            width: 100%;
            height: 100%;
            left: 0%;
            top: 0%;
            transform: translate(-50%, -50%) scale(0.8);
            animation: modal-open-mobile 0.3s ease-in-out forwards;
        }

        .content {
            height: 75%;

            @include mixins.respond(phone) {
                height: 80%;
            }
        }

        .footer {
            height: 25%;

            @include mixins.respond(phone) {
                height: 20%;
            }
        }
    }

    &.medium {
        width: 50%;

        @include mixins.respond(phone) {
            width: 100%;
            height: 100%;
            left: 0%;
            top: 0%;
            transform: translate(-50%, -50%) scale(0.8);
            animation: modal-open-mobile 0.3s ease-in-out forwards;
        }

        .content {
            height: 75%;

            @include mixins.respond(phone) {
                height: 80%;
            }
        }

        .footer {
            height: 25%;

            @include mixins.respond(phone) {
                height: 20%;
            }
        }
    }

}

.ModalDouble {
    background-color: transparent;
    //width: 40%;
    height: 100%;
    max-width: 1200px;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    max-height: 80%;
    transform: translate(-50%, -50%);
    animation: modal-open 0.2s ease-in-out forwards;
    display: flex;
    gap: variables.$gap;

    @include mixins.respond(tab-port) {
        flex-direction: column;
        height: 100vh;
        max-height: 100%;
        width: 100%;
    }

    &.active {
        width: 75%;

        @include mixins.respond(tab-land) {
            width: 100%;
        }
    }

    &.closing {
        animation: modal-close 0.2s ease-in-out forwards;
    }

    .modalInDouble {
        display: none;

        @include mixins.respond(tab-port) {
            display: block;
        }
    }

    .primary,
    .secondary {
        background-color: variables.$background-color;
        border-radius: variables.$border-radius;
        border: 1px solid variables.$color-border;
        box-shadow: variables.$box-shadow-modal;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        @include mixins.respond(tab-port) {
            width: 100%;
        }

        .header {
            background-color: variables.$background-color;
            padding: variables.$padding;
            border-bottom: 1px solid variables.$color-border;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-height: 50px;
            border-radius: variables.$border-radius;

            @include mixins.respond(tab-port) {
                margin-bottom: variables.$margin-vertical;
            }

            .left {
                display: flex;
                flex-direction: column;
                gap: variables.$gap;

                h3 {
                    margin-right: variables.$margin-horizontal;
                    font-size: variables.$font-normal;
                }
            }

            .close {
                width: fit-content;
                padding: calc(variables.$padding / 2);
                border-radius: variables.$border-radius;
                cursor: pointer;
                border: 1px solid transparent;
                display: flex;
                justify-content: center;

                &:hover {
                    background-color: variables.$background-color-secondary;
                    border: 1px solid variables.$color-border;
                }
            }
        }

        .content {
            padding: variables.$padding;
        }
    }

    .secondary {
        //width: 60%;

        @include mixins.respond(tab-port) {
            position: fixed;
            bottom: 0;
            height: 80%;
            z-index: 9999;
            width: 100%;
        }
    }
}


.ModalMessage {
    background-color: variables.$background-color;
    width: 425px;
    height: 215px;
    position: fixed;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$color-border;
    box-shadow: variables.$box-shadow-modal;
    z-index: 999999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: modal-open 0.2s ease-in-out forwards;

    @include mixins.respond(phone) {
        width: 100%;
        height: auto;
        left: 0;
        bottom: 0%;
        top: auto;
        border-radius: variables.$border-radius;
        transform: translateY(0%);
        animation: modal-open-mobile 0.2s ease-in-out forwards;
    }

    .content {
        height: 70%;
        padding: variables.$padding;
        margin-bottom: variables.$margin-vertical;

        p {
            font-size: variables.$font-medium;
        }

        h2 {
            margin-bottom: variables.$margin-vertical;
        }
    }

    .footer {
        border-top: 1px solid variables.$color-border;
        height: 30%;
        padding: variables.$padding;
        display: flex;
        justify-content: space-between;
        border-radius: variables.$border-radius;

    }
}

.ModalSideways {
    background-color: variables.$background-color;
    height: 98%;
    position: fixed;
    right: 0.5%;
    top: 1%;
    border-radius: variables.$border-radius;
    animation: appear-Right-to-Left 0.3s ease-in-out;
    border: 1px solid variables.$color-border;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
    z-index: 999999;
    overflow: hidden;
    font-size: variables.$font-medium;

    &.primary {
        width: 32.5%;

        @include mixins.respond(tab-land) {
            width: 50%;
        }

        @include mixins.respond(tab-port) {
            width: 75%;
        }

        @include mixins.respond(phone) {
            width: 100%;
            top: 3%;
            border-radius: variables.$border-radius;
            height: calc(100svh - 3%);
        }
    }

    &.secondary {
        width: fit-content;
        min-width: 300px;

        @include mixins.respond(tab-land) {
            width: 50%;
        }

        @include mixins.respond(tab-port) {
            width: 75%;
        }

        @include mixins.respond(phone) {
            width: 100%;
            top: 3%;
            border-radius: variables.$border-radius;
            height: calc(100svh - 3%);
        }
    }

    .header {
        border-radius: variables.$border-radius variables.$border-radius 0em 0em;
        padding: variables.$padding;
        border: 1px solid variables.$color-border;
        border-style: none none solid none;
        background-color: variables.$background-color-secondary;
        border-radius: variables.$border-radius;

        @include mixins.respond(phone) {
            border-radius: variables.$border-radius variables.$border-radius 0em 0em;
        }

        .close {
            width: fit-content;
            padding: calc(variables.$padding / 2);
            border-radius: variables.$border-radius;
            border: 1px solid transparent;
            font-size: variables.$font-small;
            cursor: pointer;
            gap: variables.$gap;

            display: flex;

            &:hover {
                background-color: variables.$background-color-secondary;
                border: 1px solid variables.$color-border;
            }
        }
    }

    .content {
        padding: variables.$padding;
        height: 80%;
        overflow: scroll;
        overflow-x: hidden;

        @include mixins.respond(phone) {
            padding: variables.$padding;
        }

        &::-webkit-scrollbar {
            width: 0.5em;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: variables.$color-primary;
            border-radius: variables.$border-radius;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: variables.$color-border;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }

    .footer {
        min-height: 10%;
        width: 100%;
        padding: variables.$padding;
        border-top: 1px solid variables.$color-border;
        justify-content: flex-end;
        position: absolute;
        bottom: 0px;
        background-color: variables.$background-color-secondary;
        border-radius: variables.$border-radius;
    }

    &.closing {
        animation: disappear-Left-to-Right 0.3s ease-in-out forwards;
    }
}

.modalSearch {
    height: auto;
    width: 500px;
    position: absolute;
    border-radius: variables.$border-radius;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
    z-index: 999999;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    .headerSearch {
        background-color: variables.$color-primary;
        padding: variables.$padding;
        margin-bottom: variables.$margin-vertical;
        border-radius: variables.$border-radius;
        background-color: variables.$background-color;
        height: fit-content;

        .inputSearch {
            position: relative;

            .inputt {
                position: relative;
                border: none;
                width: 100%;
                height: 40px;
                position: relative;
                background-color: transparent;
                font-size: variables.$font-normal;

                &:valid {
                    padding: 0em variables.$padding-horizontal;
                    border: transparent;
                }
            }

            .iconSearch {
                position: absolute;
                top: 0px;
                left: 0px;
                transform: translate(100%, 0%);
                height: 100%;
            }
        }

        .filtersSearch {
            padding: variables.$padding;

            >div :first-child {
                margin-right: variables.$margin-horizontal;
            }
        }
    }

    .resultsSearch {
        padding: variables.$padding;
        background-color: variables.$background-color;
        border-radius: variables.$border-radius;

        .messageEmpty {
            padding: variables.$padding 0em;
        }
    }

    @include mixins.respond(phone) {
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0px;
        width: 95%;
        max-width: none;
        border: none;
        border-bottom: 1px solid variables.$color-border;
    }
}

//Backgrounds

.modalBackground {
    width: 100%;
    height: 100svh;
    position: fixed;
    top: 0px;
    left: 0px;
    animation: appear 0.6s ease-in-out;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 999;

    &.closing {
        animation: fadeOut 0.3s ease-in-out forwards;
    }
}

.modalBackgroundSecondary {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    animation: appear 0.6s ease-in-out;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;

    &.closing {
        animation: fadeOut 0.3s ease-in-out forwards;
    }
}