@use "sass:math";
@use "main.scss";
@use "Abstracts/mixins";
@use "Abstracts/variables";

.sidebar {
    background-color: variables.$background-color;
    margin: 0px;
    padding: variables.$padding;
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
    position: sticky;
    top: 0px;
    width: 15%;
    min-width: 200px;
    font-size: variables.$font-medium;
    border: 1px solid variables.$color-border-secondary;

    &.hide{
        display: none;
    }

    @include mixins.respond(tab-port) {
        min-width: auto;
        width: fit-content;
    }

    @include mixins.respond(phone) {
        z-index: 99999;
        min-width: 80vw;
        position: fixed;
        left: 0px;
        width: 60%;
    }

    .logoOlei{
        bottom: 0px;
        left: 0px;
        height: 26px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-left: variables.$padding;
        margin-bottom: variables.$margin-vertical*2;

        @include mixins.respond(tab-port) {
            display: none;
        };

        @include mixins.respond(phone) {
            display: block;
        }

        img {
            height: 100%;
            width: auto;
        }

    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 26px -  variables.$margin-vertical*2);

        ul {
            padding: 0px;
            text-decoration: none;
            list-style: none;

            >a {
                background-color: variables.$background-color;
                padding: calc(variables.$padding/2) variables.$padding;
                border-radius: variables.$border-radius;
                cursor: pointer;
                border: 1px solid transparent;

                display: flex;
                align-items: center;
                gap: variables.$gap;

                @include mixins.respond(tab-port) {
                    width: fit-content;

                    p {
                        display: none;
                    }
                }

                @include mixins.respond(phone) {
                    width: 100vw;

                    p {
                        display: block;
                    }
                }

                &:hover {
                    background-color: variables.$background-color-secondary;
                    border: 1px solid variables.$color-border;
                }

                &.active {
                    background-color: variables.$background-color-secondary;
                    border: 1px solid variables.$color-border;
                }
            }
        }
    }
}

.topbar {
    background-color: variables.$background-color;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    font-size: variables.$font-medium;
    border: 1px solid variables.$color-border-secondary;
    border-style: none none solid none;

    .content {
        padding: variables.$padding variables.$padding*2;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .left {
            color: variables.$text-color-secondary;
            display: flex;

            .headertitle {

                span{
                    cursor: pointer;
                    &:hover{
                        opacity: 50%;
                    }
                }

                @include mixins.respond(phone) {
                    display: none;
                }
            }

            .menu {
                display: none;

                @include mixins.respond(phone) {
                    display: flex;
                }
            }
        }

        .right{
            .profile {
                gap: calc(variables.$gap/2);
                position: relative;
                background-color: transparent;
                border-radius: variables.$border-radius;
                cursor: pointer;

                display: flex;
                justify-content: center;
                align-items: center;
                font-size: variables.$font-medium;

                @include mixins.respond(phone) {
                    position: static;
                }

                .info {

                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        color: variables.$text-color;
                    }

                    @include mixins.respond(phone) {
                        display: none;
                    }
                }

                .circle {
                    background-color: variables.$color-tertiary;
                    height: 30px;
                    width: 30px;
                    border-radius: variables.$border-radius;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: variables.$box-shadow-button;

                    p {
                        font-size: variables.$font-medium;
                        color: variables.$text-color-light;
                        min-width: 18px;
                        height: 18px;
                        border-radius: calc(variables.$border-radius / 1.25);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                }

                .profileBox {
                    background-color: variables.$background-color;
                    border: 1px solid variables.$color-border;
                    position: absolute;
                    top: 120%;
                    right: 0px;
                    width: 225px;
                    border-radius: variables.$border-radius;
                    z-index: 999;

                    @include mixins.respond(phone) {
                        width: 100vw;
                        left: 0px;
                        border-radius: none;
                        border: 0px;
                        border-bottom: 1px solid variables.$color-border;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 12px;
                    }

                    .link {
                        padding: variables.$padding;
                        border-radius: variables.$border-radius;
                        cursor: pointer;

                        &:hover {
                            background-color: variables.$color-secondary;
                        }
                    }
                }

                &:hover {
                    opacity: 70%;
                }
            }
        }
    }
};

.header{
    margin-bottom: variables.$margin-vertical;
    color: variables.$color-tertiary;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title{
        display: flex;
        gap: calc(variables.$gap/2);
        height: 100%;

        .icon{
            padding: calc(variables.$padding/2);
            border: 1px solid transparent;
            cursor: pointer;

            &:hover{
                background-color: variables.$background-color-tertiary;
                border-radius: variables.$border-radius;
                border: 1px solid variables.$color-border-secondary;
            }
        }
    }

    .filters{
        display: flex;
        align-items: center;
        height: auto;
        gap: variables.$gap;

        @include mixins.respond(phone) {
            width: 100%;
            flex-wrap: wrap;
        }
    }
}

.headerTable{
    margin-bottom: variables.$margin-vertical;
    color: variables.$color-tertiary;
    display: flex;
    justify-content: space-between;

    .filters{
        display: flex;
        align-items: center;
        height: auto;
        gap: variables.$gap;

        @include mixins.respond(phone) {
            width: 100%;
            flex-wrap: wrap;
        }
    }
}