@import "./main.scss";

.sidebar {
    background-color: $background-color;
    margin: 0px;
    padding: $padding;
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    width: 15%;
    min-width: 200px;
    font-size: $font-medium;
    border: 1px solid $color-border-secondary;
    

    &.hide{
        display: none;
    }

    @include respond(tab-port) {
        min-width: auto;
        width: fit-content;
    }

    @include respond(phone) {
        z-index: 99999;
        min-width: 80vw;
        position: fixed;
        left: 0px;
        width: 60%;
    }

    .logoOlei{
        bottom: 0px;
        left: 0px;
        height: 26px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding-left: $padding;
        margin-bottom: $margin-vertical*2;

        @include respond(tab-port) {
            display: none;
        };

        @include respond(phone) {
            display: block;
        }

        img {
            height: 100%;
            width: auto;
        }

    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 26px -  $margin-vertical*2);

        ul {
            padding: 0px;
            text-decoration: none;
            list-style: none;

            >a {
                background-color: $background-color;
                padding: $padding/2 $padding;
                border-radius: $border-radius;
                cursor: pointer;
                border: 1px solid transparent;

                display: flex;
                align-items: center;
                gap: $gap;

                @include respond(tab-port) {
                    width: fit-content;

                    p {
                        display: none;
                    }
                }

                @include respond(phone) {
                    width: 100vw;

                    p {
                        display: block;
                    }
                }

                &:hover {
                    background-color: $background-color-secondary;
                    border: 1px solid $color-border;
                }

                &.active {
                    background-color: $background-color-secondary;
                    border: 1px solid $color-border;
                }
            }
        }
    }
}

.topbar {
    background-color: $background-color;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    font-size: $font-medium;
    border: 1px solid $color-border-secondary;
    border-style: none none solid none;

    .content {
        padding: $padding $padding*2;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .left {
            color: $text-color-secondary;
            display: flex;

            .headertitle {

                span{
                    cursor: pointer;
                    &:hover{
                        opacity: 50%;
                    }
                }

                @include respond(phone) {
                    display: none;
                }
            }

            .menu {
                display: none;

                @include respond(phone) {
                    display: flex;
                }
            }
        }
    }
};

.header{
    margin-bottom: $margin-vertical;
    color: $color-tertiary;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title{
        display: flex;
        gap: $gap/2;
        height: 100%;

        .icon{
            padding: $padding/2;
            border: 1px solid transparent;
            cursor: pointer;

            &:hover{
                background-color: $background-color-tertiary;
                border-radius: $border-radius;
                border: 1px solid $color-border-secondary;
            }
        }
    }

    &__actions{

        .buttons{
            display: flex;
            gap: $gap;
            height: fit-content;

            @include respond(phone) {
                display: none;
            }
        }

        .hamburguer {
            display: none;
            background-color: $background-color-tertiary;
            padding: $padding/2;
            border-radius: $border-radius;
            border: 1px solid $color-border;

            @include respond(phone) {
                display: block;
            }
        }
    }

    .filters{
        display: flex;
        align-items: center;
        height: auto;
        gap: $gap;

        @include respond(phone) {
            width: 100%;
            flex-wrap: wrap;
        }
    }
}

.headerTable{
    margin-bottom: $margin-vertical;
    color: $color-tertiary;
    display: flex;
    justify-content: space-between;

    .filters{
        display: flex;
        align-items: center;
        height: auto;
        gap: $gap;

        @include respond(phone) {
            width: 100%;
            flex-wrap: wrap;
        }
    }
}