@use "sass:math";
@use "main.scss";
@use "Abstracts/mixins";
@use "Abstracts/variables";

.RootLayout{
    display: flex;
    flex-direction: row;
    margin: 0px;
    max-height: 100vh;
    background-color: variables.$background-color;
    width: 100vw;

    :global(#back) {
        display: none;
        @include mixins.respond(phone) {
            display: flex;
        }
    }
    
    .mainContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        .mainbody{
            padding: variables.$padding*2;
        }
    }
}