@use "sass:math";
@use "main.scss";
@use "Abstracts/mixins";
@use "Abstracts/variables";

.RootLayout{
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: variables.$color-secondary;

    :global(#back) {
        display: none;

        @include mixins.respond(phone) {
            display: flex;
        }
    }
    
    .mainContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: scroll;
        max-height: 100vh;

        border-radius: calc(variables.$border-radius * 3) 0px 0px 0px;
        background-color: variables.$background-color;
        margin-top: 10px;

        .mainbody{
            padding: variables.$padding*2;
            
        }
    }
}