@use "sass:math";
@use "main.scss";
@use "Abstracts/mixins";
@use "Abstracts/variables";


.tableSecondary {
    width: 100%;
    font-size: variables.$font-medium;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid variables.$color-border;
        border-bottom: 0px;
        margin-bottom: variables.$margin-horizontal;
        border-radius: variables.$border-radius;

        -webkit-box-shadow: 10px 10px 15px -5px rgba(6, 12, 25, 0.05);
        -moz-box-shadow: 10px 10px 15px -5px rgba(6, 12, 25, 0.05);
        box-shadow: 10px 10px 15px -5px rgba(6, 12, 25, 0.05);

        tbody {

            tr {
                border-radius: variables.$border-radius;

                .column {
                    display: flex;
                    flex-direction: column;
                    gap: calc(variables.$gap / 2);

                    @include mixins.respond(phone) {
                        text-align: end;
                        align-items: end;

                        span {
                            display: none;
                        }

                        > :nth-child(2) {
                            display: none;
                        }
                    }
                }


                &:nth-child(even) {
                    background-color: variables.$background-color;
                }

                &:hover {
                    background-color: variables.$background-color-secondary;
                }

                td {
                    padding: variables.$padding*1.5;
                    border-bottom: 1px solid variables.$color-border;
                    cursor: pointer;

                    &:first-child {
                        border-radius: 0px variables.$border-radius;
                        overflow: hidden;
                    }

                    &:last-child {
                        border-radius: variables.$border-radius 0px;
                        overflow: hidden;
                    }

                    @include mixins.respond(phone) {
                        padding: variables.$padding;
                    }

                    &.text-blue-500 {
                        color: variables.$color-blue;
                    }

                    &.font-bold {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .laodMore {
        width: 30%;

        @include mixins.respond(phone) {
            width: 100%;
        }
    }

    .message {
        padding: variables.$padding 0em;
        text-align: center;
        color: variables.$color-gray;
        font-size: variables.$font-medium;
    }


    @include mixins.respond(phone) {

        table {
            thead {
                display: none;
            }

            tbody {
                tr {
                    display: block;
                    border-bottom: 1px solid variables.$color-border;
                    padding: variables.$padding;

                    td {
                        display: flex;
                        justify-content: space-between;
                        border: none;
                        min-width: 100%;
                        padding: 0px;
                        padding-bottom: variables.$padding;
                        align-items: center;

                        &:before {
                            content: attr(data-label);
                            color: variables.$text-color-secondary;
                            flex-basis: 50%;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

.tableTertiary {
    width: 100%;
    display: flex;
    flex-direction: column;

    .item {
        display: flex;
        justify-content: space-between;
        padding: calc(variables.$padding / 2);
        border: 1px solid variables.$color-border;
        border-style: solid none;
        font-size: variables.$font-medium;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: variables.$gap;

        .item__label {
            color: variables.$text-color-secondary;
            width: 30%;
        }

        .item__value {
            width: 70%;
            display: flex;
            justify-content: flex-end;
        }



        &:not(:last-child) {
            border-bottom: 0px;
        }

        &:last-child {
            border-style: solid none none none;
        }
    }

}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .contentGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: variables.$gap*3;
        background-color: variables.$background-color;
        margin-bottom: variables.$margin-horizontal*2;

        @include mixins.respond(tab-port) {
            grid-template-columns: repeat(3, 1fr);
            padding: 0em variables.$padding;
        }

        @include mixins.respond(phone) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0em;
        }

        .laodMore {
            width: 30%;

            @include mixins.respond(phone) {
                width: 100%;
            }
        }
    }

    .message {
        padding: variables.$padding 0em;
        text-align: center;
        color: variables.$color-gray;
        font-size: variables.$font-medium;
    }


}